.card-body {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.form {
    padding: 5%;
    background-color: #f0f0f0;
    border-radius: 25px;
}

.form-group-boton {
    margin-right: 35%;
}

.card-header {
    display: flex;
    justify-content: center;
}

.card {
    border: none !important;
}